<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="env_map" default="$(find neo_simulation)/maps/L_Shaped_World1.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg env_map)">
  <param name="frame_id" value="map" />
  </node>

  <!--To launch gmapping to create a map-->
  <arg name="gmapping" value="false"/>

  <!--To launch amcl-->
  <!--NOTE: Do not forget to configure the correct Map for AMCL-->
  <!--NOTE: Use file neo_simulation/config/mpo_700/amcl/mpo_700_amcl.launch-->
  <arg name="amcl" value="true"/>

  <!--To launch move base-->
  <arg name="move_base" value="true"/>

<!---=================================================================================================================================================================-->

 <!--Naviagation Package-->

 <!--if arg gmapping is se

 <group if="$(arg gmapping)">
 	<include file="$(find neo_simulation)/config/mpo_700/gmapping/mpo_700_gmapping.launch"/>
 </group>
t to true (default=false)-->
 <!--if arg amcl is set to true (default=false)-->

 <group if="$(arg amcl)">
 	<include file="$(find neo_simulation)/config/mpo_700/amcl/mpo_700_amcl_1.launch"/>
  <include file="$(find neo_simulation)/config/mpo_700/amcl/mpo_700_amcl_2.launch"/>
 </group>

 <group if="$(arg move_base)">
 	<include file="$(find neo_simulation)/config/mpo_700/move_base/mpo_700_move_base_1.launch"/>

 <include file="$(find neo_simulation)/config/mpo_700/move_base/mpo_700_move_base_2.launch"/>

 </group>

</launch>
